{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Profile Settings</h4>
                </div>
                <div class="card-body">
                    <form role="form" action="{{ path('updateUser', {'id':id}) }}" method="post">
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username</label>
                            <div class="col-7">
                                <input type="text" value="{{ username }}" name="username" {{ disabled }} class="form-control" id="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="first_name" class="col-4 col-form-label">First Name</label>
                            <div class="col-7">
                                <input type="text" value="{{ firstName }}" name="first_name" {{ disabled }} class="form-control" id="first_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="last_name" class="col-4 col-form-label">Last Name</label>
                            <div class="col-7">
                                <input type="text" value="{{ lastName }}" name="last_name" {{ disabled }} class="form-control" id="last_name" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email</label>
                            <div class="col-7">
                                <input type="email" value="{{ email }}" name="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="gender" class="col-4 col-form-label">Gender</label>
                            <div class="col-7">
                                <input type="text" value="{{ gender }}" name="gender" class="form-control" id="gender">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="course" class="col-4 col-form-label">Course</label>
                            <div class="col-7">
                                <select class="form-control" name="courseId" {{ disabled }} id="course">
                                    <option value="{{ courseId }}">{{ course }}</option>
                                    {% if courses %}
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">{{ course.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        {% if admin %}
                        <div class="form-group row">
                            <label for="role" class="col-4 col-form-label">Role</label>
                            <div class="col-7">
                                <select class="form-control" name="role" id="role">
                                    <option>{{ role }}</option>
                                    <option>lecturer</option>
                                    <option>student</option>
                                    {% if headAdmin %}<option>admin</option>{% endif %}
                                    {% if headAdmin %}<option>head</option>{% endif %}
                                </select>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group row">
                            <label for="phone_number" class="col-4 col-form-label">Phone Number</label>
                            <div class="col-7">
                                <input type="text" value="{{ phoneNumber }}" name="phone_number" class="form-control" id="phone_number">
                            </div>
                        </div>
                        {% if not admin %}
                        <div class="form-group row">
                            <label for="old_password" class="col-4 col-form-label">Current Password</label>
                            <div class="col-7">
                                <input type="password" name="old_password" class="form-control" id="old_password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">New Password</label>
                            <div class="col-7">
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="repeat_password" class="col-4 col-form-label">Repeat Password</label>
                            <div class="col-7">
                                <input type="password" name="repeat_password" class="form-control" id="repeat_password">
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">Set New Password</label>
                            <div class="col-7">
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            <div class="col-8 offset-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
